#sidebar {
    background-color: red;
}

#forecast {
    background-color: blue;
    
    
}

#cityInfo {
    background-color: yellow;
}

#forecast-cards {
    background-color: green;
}

#cityContainer{
    background-color: purple;
}

#test {
    background-color: orange;
}

.heading {
    text-align: center;
}